body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], input[type=password] {
  width: 60%;
  padding: 12px 20px;
  display: inline-block;
  padding: 14px 20px;
  border: 3px solid #4CAF50;
  border-radius: 15px;
  transition: 0.25s;
}

input[type=Submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: 3px solid #4CAF50;
  cursor: pointer;
  width: 80%;
  border-radius: 15px;
  transition: 0.25s;
}
input[type=text]:hover, input[type=password]:hover {
  width: 80%;
}
input[type=submit]:hover{
  width: 100%
}
input[type=text]:focus, input[type=password]:focus, input[type=submit]:focus {
  width: 80%;
}

.container {
  padding: 40px;
  width:20%;
  border: 3px solid #f1f1f1;
}
.fixed-header{
        width: 100%;
        position: fixed;
        background: #4CAF50;
        padding: 15px 0;
        color: white;
}
.fixed-footer{
        width: 100%;
        position: fixed;
        background: #4CAF50;
        padding: 20px 0;
        color: white;

}
.fixed-header{
        top: 0;
}
.fixed-footer{
        bottom: 0;
}

