<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>django portal</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}" >


</head>

<form action={% url 'log_in' %}>
<div class="fixed-header" align="center">
        Welcome to Django Portal
    </div>
<br>
<br>
<br>
<div align="center">
<div class="div">
<div class="container">
<h4> For Existing user click login button</h4>
<input type="submit" value="Login">
</div>
</div>
</div>
</form>
<br>
<br>
<form action={% url 'reg' %}>
<div align="center">
<div class="div">
<div class="container">
<h4> For New user click Register button</h4>

<input type="submit" value="Register">

</div>
</div>
</div>

<div class="fixed-footer" align="center">
        Copyright django portal
    </div>
</form>
</html>
