<html lang="en">
<head>
  <meta charset="utf-8">
{% load staticfiles %}

<script>

var json = '{"apps": [{"name": "windows"}, {"name": "linux"}],"id": "Action","Site": [{"vc": "vcenter1","id": "DCA","ip": "10.213.71.87","vlan": [{"name": "vlan1"}, {"name": "vlan2"}]}, {"vc": "vcenter2","id": "DC3","ip": "10.213.71.90","vlan": [{"name": "vlan3"}]}]}';
obj = JSON.parse(json);
var i;
for (i = 0; i < obj.Site.length; i++) { 
function myFunction() {
  var x = document.getElementById("sel");
  var option = document.createElement("option");
  option.text = obj.Site[i].id;
  x.add(option);
}
}

</script>

  <title>Details</title>

</head>
<form >
<label>Customer name:-</label>
<input type="text" id="cust" name="cust"><br><br>
<label>Site:-</label>
<select id ="sel">
<option>Select<option>
</select><br><br>
<label>Vcenter name:-</label>
<input type="text" id="vcenter" name="vcenter"><br><br>
<label>VM IP:-</label>
<input type="text" id="vip" name="vip"><br><br>
<label>Vlan name:-</label>
<select id = "vlan">
               <option value = "1">Select vlan</option>
               <option value = "2">vlan1</option>
               <option value = "2">vlan2</option>
             </select><br><br>
<input type="Submit" value="submit">
</form>
</html>

